<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
    <div class="header-icons">
        <a aria-label="My Twitter" target="_blank" href="https://kuying666.me"><i class="icon fa fa-rocket" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
	  <a class="link" href="https://kuying666.me/auth/login">登陆</a>
	  <a class="link" href="https://kuying666.me/auth/register">注册</a>
      </div>
  </div>
  <a class="down" href="https://kuying666.me" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
